{% extends "plantilla.html" %}

{% block body %}
<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Lista de Detalles de Pedido</h4>
                            <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal" id="addDetallePedidoBtn">
                                <i class="fa fa-plus"></i>
                                Añadir Detalle de Pedido
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="detalle-pedido-table" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Pedido</th>
                                        <th>Producto</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="detalle-pedido-table-body">
                                    {% include 'detalle_pedido/partials/detalle_pedido_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para añadir/editar detalle de pedido -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold" id="modalTitle">Nuevo</span>
                    <span class="fw-light">Detalle de Pedido</span>
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="detallePedidoForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="detallePedidoId" name="detallePedidoId">
                    <div class="row">
                            <div class="form-group">
                                <label for="pedidoid">Pedido</label>
                                <select class="form-control" id="pedidoid" name="pedidoid" required>
                                    {% for pedido in pedidos %}
                                    <option value="{{ pedido.idpedido }}">{{ pedido.referenciacobro }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="productoid">Producto</label>
                                <select class="form-control" id="productoid" name="productoid" required>
                                    {% for producto in productos %}
                                    <option value="{{ producto.idproducto }}">{{ producto.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="precio">Precio</label>
                                <input type="number" class="form-control" id="precio" name="precio" placeholder="Precio" required>
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Cantidad" required>
                            </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">Confirmar</span>
                    <span class="fw-light">Eliminación</span>
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este detalle de pedido?</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Sí</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        function showNotification(icon, title, message, type) {
            $.notify({
                icon: icon,
                title: title,
                message: message,
            }, {
                type: type,
                placement: {
                    from: "top",
                    align: "right"
                },
                time: 1000,
            });
        }

        function loadDetallePedidos() {
            $.ajax({
                url: "{% url 'detalle_pedidos' %}",
                method: "GET",
                success: function(data) {
                    $('#detalle-pedido-table-body').html(data.html);
                    $('#detalle-pedido-table').DataTable().destroy();
                    $('#detalle-pedido-table').DataTable();
                }
            });
        }

        loadDetallePedidos();

        $('#addDetallePedidoBtn').on('click', function() {
            $('#modalTitle').text('Nuevo');
            $('#detallePedidoForm')[0].reset();
            $('#detallePedidoId').val('');
        });

        $('#detallePedidoForm').on('submit', function(event) {
            event.preventDefault();
            var url = $('#detallePedidoId').val() ? "{% url 'detalle_pedido_update' %}" : "{% url 'detalle_pedido_create' %}";
            $.ajax({
                url: url,
                method: "POST",
                data: $(this).serialize(),
                success: function(response) {
                    showNotification('fa fa-check', response.title, response.message, response.type);
                    $('#detallePedidoForm')[0].reset();
                    $('#addRowModal').modal('hide');
                    loadDetallePedidos();
                },
                error: function(xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    showNotification('fa fa-times', response.title, response.message, response.type);
                }
            });
        });

        var deleteId;
        $(document).on('click', '.delete-btn', function() {
            deleteId = $(this).data('id');
            $('#confirmDeleteModal').modal('show');
        });

        $('#confirmDeleteBtn').on('click', function() {
            $.ajax({
                url: "{% url 'detalle_pedido_delete' %}",
                method: "POST",
                data: {
                    id: deleteId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    showNotification('fa fa-check', response.title, response.message, response.type);
                    loadDetallePedidos();
                    $('#confirmDeleteModal').modal('hide');
                },
                error: function(xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    showNotification('fa fa-times', response.title, response.message, response.type);
                }
            });
        });

        $(document).on('click', '.edit-btn', function() {
            var id = $(this).data('id');
            $.ajax({
                url: "{% url 'detalle_pedido_detail' %}",
                method: "GET",
                data: { id: id },
                success: function(response) {
                    $('#modalTitle').text('Editar');
                    $('#detallePedidoId').val(response.id);
                    $('#pedidoid').val(response.pedidoid);
                    $('#productoid').val(response.productoid);
                    $('#precio').val(response.precio);
                    $('#cantidad').val(response.cantidad);
                    $('#addRowModal').modal('show');
                },
                error: function(xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    showNotification('fa fa-times', response.title, response.message, response.type);
                }
            });
        });

        $('#detalle-pedido-table').DataTable();
    });
</script>
{% endblock %}