{% for imagen in imagenes %}
<tr>
  <td>{{ imagen.productoid.nombre }}</td>
  <td><img src="{{ imagen.img.url }}" alt="{{ imagen.productoid.nombre }}" width="100"></td>
  <td>
    <div class="form-button-action">
      <button type="button" class="btn btn-link btn-primary btn-lg edit-btn" data-id="{{ imagen.id }}" data-bs-toggle="tooltip" title="Editar">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-link btn-danger delete-btn" data-id="{{ imagen.id }}" data-bs-toggle="tooltip" title="Eliminar">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </td>
</tr>
{% endfor %}