{% extends "plantilla.html" %}

{% block body %}
<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h4 class="card-title">Lista de Imágenes</h4>
                            <button class="btn btn-primary btn-round ms-auto" data-bs-toggle="modal" data-bs-target="#addRowModal" id="addImagenBtn">
                                <i class="fa fa-plus"></i>
                                Añadir Imagen
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="imagen-table" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Imagen</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="imagen-table-body">
                                    {% include 'imagen/partials/imagen_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal para añadir/editar imagen -->
<div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold" id="modalTitle">Nueva</span>
                    <span class="fw-light">Imagen</span>
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="imagenForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="imagenId" name="imagenId">
                    <div class="row">
                            <div class="form-group">
                                <label for="productoid">Producto</label>
                                <select class="form-control" id="productoid" name="productoid" required>
                                    {% for producto in productos %}
                                    <option value="{{ producto.idproducto }}">{{ producto.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="img">Imagen</label>
                                <input type="file" class="form-control" id="img" name="img" required>
                            </div>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para confirmar eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title">
                    <span class="fw-mediumbold">Confirmar</span>
                    <span class="fw-light">Eliminación</span>
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta imagen?</p>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Sí</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        function showNotification(icon, title, message, type) {
            $.notify({
                icon: icon,
                title: title,
                message: message,
            }, {
                type: type,
                placement: {
                    from: "top",
                    align: "right"
                },
                time: 1000,
            });
        }

        function loadImagenes() {
            $.ajax({
                url: "{% url 'imagenes' %}",
                method: "GET",
                success: function(data) {
                    $('#imagen-table-body').html(data.html);
                    $('#imagen-table').DataTable().destroy();
                    $('#imagen-table').DataTable();
                }
            });
        }

        loadImagenes();

        $('#addImagenBtn').on('click', function() {
            $('#modalTitle').text('Nueva');
            $('#imagenForm')[0].reset();
            $('#imagenId').val('');
        });

        $('#imagenForm').on('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var url = $('#imagenId').val() ? "{% url 'imagen_update' %}" : "{% url 'imagen_create' %}";
            $.ajax({
                url: url,
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    showNotification('fa fa-check', response.title, response.message, response.type);
                    $('#imagenForm')[0].reset();
                    $('#addRowModal').modal('hide');
                    loadImagenes();
                },
                error: function(xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    showNotification('fa fa-times', response.title, response.message, response.type);
                }
            });
        });

        var deleteId;
        $(document).on('click', '.delete-btn', function() {
            deleteId = $(this).data('id');
            $('#confirmDeleteModal').modal('show');
        });

        $('#confirmDeleteBtn').on('click', function() {
            $.ajax({
                url: "{% url 'imagen_delete' %}",
                method: "POST",
                data: {
                    id: deleteId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    showNotification('fa fa-check', response.title, response.message, response.type);
                    loadImagenes();
                    $('#confirmDeleteModal').modal('hide');
                },
                error: function(xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    showNotification('fa fa-times', response.title, response.message, response.type);
                }
            });
        });

        $(document).on('click', '.edit-btn', function() {
            var id = $(this).data('id');
            $.ajax({
                url: "{% url 'imagen_detail' %}",
                method: "GET",
                data: { id: id },
                success: function(response) {
                    $('#modalTitle').text('Editar');
                    $('#imagenId').val(response.id);
                    $('#productoid').val(response.productoid);
                    $('#img').val('');
                    $('#addRowModal').modal('show');
                },
                error: function(xhr, errmsg, err) {
                    var response = JSON.parse(xhr.responseText);
                    showNotification('fa fa-times', response.title, response.message, response.type);
                }
            });
        });

        $('#imagen-table').DataTable();
    });
</script>
{% endblock %}