{% for producto in productos %}
<tr>
  <td>{{ producto.codigo }}</td>
  <td>{{ producto.nombre }}</td>
  <td>{{ producto.descripcion }}</td>
  <td>{{ producto.precio }}</td>
  <td>{{ producto.stock }}</td>
  <td>
    <div class="form-button-action">
      <button type="button" class="btn btn-link btn-primary btn-lg edit-btn" data-id="{{ producto.idproducto }}" data-bs-toggle="tooltip" title="Editar">
        <i class="fa fa-edit"></i>
      </button>
      <button type="button" class="btn btn-link btn-danger delete-btn" data-id="{{ producto.idproducto }}" data-bs-toggle="tooltip" title="Eliminar">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </td>
</tr>
{% endfor %}